/* Introduction */

blockquote {
 margin-top: 4%;
 margin-bottom: 19%;
 font-size: 17px;
 width: 80%;
 margin-left: 20%;
}

hr {
 background-color: #7EC498;
 height: 5px;
 border: none;
 padding: 0;
 width: 80%;
 margin-left: 20%;

 box-shadow: 0 0 0.8em rgba(0, 0, 0, 0),
  0 0 0.8em rgba(0, 0, 0, 0.308);
}

.introduction-container {
 color: #303030;
 margin: 9% 10% 0% 11%;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

.introduction-container .introduction_img img {
 width: 110%;
 margin-top: -5%;
}

.introduction_text {
 text-align: right;
}

.introduction_text h1 {
 font-size: 3rem;
 word-spacing: 4px;
 font-size: 52px;
 font-weight: 800;
 text-transform: uppercase
}

.home_buttons {
 display: grid;
 grid-template-columns: 1fr 1fr;
 text-align: center;
}

.btn {
 box-sizing: border-box;
 height: 45px;
 width: 70%;
 padding: 8px 0px 0px 0px;
 font-size: 19px;
 margin-left: 31%;
 color: #303030;
 font-weight: 400;
 background: none;
 border: 5px solid #7EC498;
 outline: #F3F3F3;

 transition: all 0.3s ease-out;
}

.btn:hover {
 height: 48px;
 background-color: #ececec;
 box-shadow: 0 0 0.8em rgba(0, 0, 0, 0),
  0 0 0.8em rgba(0, 0, 0, 0.308);

 transition: all 0.3s ease-in-out;
}

/* Seeds */

.seeds-container {
  color: #303030;
  margin: 9% 10% 0% 11%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7EC498;

  box-shadow: 0 0 0.8em rgba(0, 0, 0, 0),
  0 0 0.8em rgba(0, 0, 0, 0.308);
 }
