/* Estilos Gerais*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family : Georgia, 'Times New Roman', Times, serif;
}

.btn {
    /*border: 3px solid rgb(61, 138, 61);*/
    border: 3px solid #81dfb3;
    padding: 8px 70px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn:hover {
    border: 3px solid #81dfb3;
    background-color: #81dfb3;
    color: white;
}

.btn-sobre {
    border: 3px solid #81dfb3;
    padding: 8px 70px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 7%;
}

.btn-sobre:hover {
    border: 3px solid #81dfb3;
    background-color: #81dfb3;
    color: white;
}

.subtitulo {
    font-size: 24px;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: .1em;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5%;
}

.subtitulo::after {
    content: "";
    display: block;
    width: 6%;
    height: 3px;
    border-radius: 100px;
    background: #000;
    margin-top: 0.6%;
    align-self: center;
    margin-left: 47%;
}
/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 15px 0;
    z-index: 2;
}

.header .container a img {
    margin-left: 35%;
}

.header_menu {
    text-align: right;
}

.header_menu ul li{
    display: inline-block;
    margin-left: 29px;
    margin-top: 20px;
}

.header_menu ul {
    text-align: right;
}

.header_menu ul li a {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 0;
}

.header_menu ul li a:hover {
    color: #81dfb3;
}

/* Introducao */

.introducao {
    width: 100%;
    height: 380px;
    background-size: cover;
    margin-top: 96px;
    padding-top: 100px;
}

.introducao img {
    width: 51%;
    margin-left: 49%;
    margin-top: -1%;
}

.introducao h1 {
    font-size: 70px;
    color: #000;
    font-weight: bold;
}

.introducao .container .text_container {
    text-align: left;
    margin-top: -35%;
    margin-left: 10%;
    max-width: 50%;
}

.quote_externo {
    max-width: 100%;
    margin: 0 auto;
    color: #000;
}

.quote_externo p {
    font-style: italic;
    margin-top: 5%;
    margin-bottom: 31%;
    font-size: 22px;
}

.quote_externo p::after {
    content: "";
    display: block;
    width: 73%;
    height: 2.5px;
    border-radius: 100px;
    background: #81dfb3;
    margin-top: 0.6%;
}

/* Produtos */

.produtos {
    background-color: #fff;
    padding: 6% 0;
    margin-top: 25%;
    display: inline-block;
}

.produtos_lista li {
    text-align: center;
    margin-left: 7%;
}

.produtos_lista {
    margin-left: 7%;
}

.produtos_lista li h3 {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.produtos_lista li h3::after{
    content: "";
    display: block;
    width: 6%;
    height: 3px;
    border-radius: 100px;
    background: #000;
    margin-top: 0.6%;
    align-self: center;
    margin-left: 47%;
}

.produtos_icone {
    padding: 20px;
}

.produtos_icone li p {
    padding: 10px 20px 20px 20px;
}

.produtos_icone img {
    width: 50%;
}
