footer {
 background-color: #303030;
 color: #e0e0e0;
 margin-top: 8%;
 padding: 3% 8% 2% 8%;
}

.footer_container {
 margin: 2% 12% 2% 12%;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 14%;
 color: #e0e0e0;
}

.footer_container h4 {
 margin-bottom: 16%;
 font-size: 15px;
 font-weight: 600;
 text-transform: uppercase;
 text-decoration: underline;
}

.footer_container h3 {
 margin-bottom: 10%;
 font-size: 22px;
 text-transform: uppercase;
 font-weight: 600;
 text-decoration: underline;
}

.footer_container li {
 margin-bottom: 10%;
}

.footer_container li a {
 text-decoration: none;
 color: #e0e0e0;
 font-size: 15px;
 transition: all 0.2s ease-out;
}

.footer_container li a:hover {
 color: #666;
 transition: all 0.3s ease-out;
}

.footer_container .f_social i{
 font-size: 20px;
 color: #e0e0e0;
 padding-top: 10px;  
  width: 50px;
  height: 50px; 
  transition: all 0.2s ease-out;
}

.footer_container .f_social i:hover{
 color: #303030;
 transition: all 0.3s ease-out;
}


/* Made by */

.made_by {
 color: #666;
 font-size: 12px;
 background-color: #303030;
 color: #e0e0e0;
 text-align: center;
 padding: 10px;
}

.made_by a {
 color: #e0e0e0;
 text-decoration: none;
 font-weight: bold;
}

.made_by .fa {
 color: #7EC498;
 margin: 0 3px;
 font-size: 10px;
 animation: pound 0.35s infinite alternate;
 -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
 to {
   transform: scale(1.1);
 }
}
@keyframes pound {
 to {
   transform: scale(1.1);
 }
}

/* Media Query */

@media screen and (max-width: 900px) {

  .footer_container {
    margin: 5% 0% 20% 0%;
    padding-left: 15%;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 34%;
  }
}

@media screen and (max-width: 500px) {

  .footer_container {
    margin: 18% 0% 60% 0%;
    grid-template-columns: repeat(1, 0fr);
    grid-gap: 8%;
  }
}