/* Introduction */

blockquote {
  margin-top: 4%;
  margin-bottom: 19%;
  font-size: 17px;
  width: 80%;
  margin-left: 20%;
}

.hr1 {
  background-color: #7EC498;
  height: 3px;
  border: none;
  padding: 0;
  width: 80%;
  margin-left: 20%;
}

.introduction_container {
  color: #303030;
  margin: 9% 12% 0% 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introduction_img img {
  width: 117%;
}

.introduction_text {
  text-align: right;
}

.introduction_text h1 {
  font-size: 3rem;
  word-spacing: 4px;
  font-size: 52px;
  font-weight: bold;
  text-transform: uppercase
}

.home_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.btn {
  box-sizing: border-box;
  height: 45px;
  width: 70%;
  padding: 10px 0px;
  font-size: 19px;
  margin-left: 31%;
  color: #303030;
  font-weight: normal;
  background: none;
  border: 2px solid #7EC498;
  outline: #e0e0e0;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: #7EC498;
  transition: all 0.3s ease-in-out;
}

/* Seeds */

.seeds_container {
  color: #303030;
  margin: 9% 12% 0% 12%;
  padding: 3% 10% 3% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7EC498;
}

.seeds_text {
  text-align: left;
  margin: auto;
  align-self: center;
}

.seeds_text h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 5%;
}

.seeds_text p {
  margin-bottom: 6%;
}

.seeds_text .see_more {
  text-transform: uppercase;
  font-weight: bold;
  color: #303030;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}

.seeds_text .see_more:hover {
  color: #e0e0e0;
  transition: all 0.3s ease-in-out;
}

.seeds_container .seeds_img {
  text-align: right;
}

.seeds_img img {
  width: 34%;
}

/* Fertilizers */

.fert_container {
  color: #e0e0e0;
  margin: 4% 12% 0% 12%;
  padding: 3% 10% 3% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #303030;
}

.fert_text {
  text-align: right;
  margin: auto;
  align-self: center;
}

.fert_text h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 5%;
}

.fert_text p {
  margin-bottom: 6%;
}

.fert_text .see_more {
  text-transform: uppercase;
  font-weight: bold;
  color: #e0e0e0;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}

.fert_text .see_more:hover {
  color: #e0e0e0;
  transition: all 0.3s ease-in-out;
}

.fert_container .fert_img {
  text-align: left;
}

.fert_img img {
  width: 34%;
}

/* Tools */

.tools_container {
  color: #303030;
  margin: 4% 12% 0% 12%;
  padding: 5% 10% 5% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #7EC498;
}

.tools_text {
  text-align: left;
  margin: auto;
  align-self: center;
}

.tools_text h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  margin-bottom: 5%;
}

.tools_text p {
  margin-bottom: 6%;
}

.tools_text .see_more {
  text-transform: uppercase;
  font-weight: bold;
  color: #303030;
  text-decoration: underline;
  transition: all 0.3s ease-out;
}

.tools_text .see_more:hover {
  color: #e0e0e0;
  transition: all 0.3s ease-in-out;
}

.tools_container .tools_img {
  text-align: right;
}

.tools_img img {
  width: 50%;
}

/* Receive news */

.rcvnews_container {
  color: #303030;
  margin: 6% 12% 0% 12%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rcvnews_img img {
  width: 85%;
}

.hr2 {
  background-color: #303030;
  height: 4px;
  border: none;
  padding: 0;
  width: 45%;
  margin-left: 55%;
  margin-bottom: 8%;
}

.rcvnews_text {
  text-align: right;
}

.rcvnews_text h1 {
  font-size: 3rem;
  word-spacing: 4px;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase
}

.rcvnews_text p {
  padding: 0% 0% 0% 35%;
  margin-bottom: 10%;
  font-size: 20px;
}

.send_email {
  display:flex;
  flex-direction:row;
}

.sendmail_box {
  width: 337px;
  box-sizing: border-box;
  border: 1.5px solid #7EC498;
  font-size: 16px;
  color: #303030;
  padding: 8px 32px 8px 12px;
  height: 35px;
  outline: #e0e0e0;
  background-color: #e0e0e0;
  transition: all 0.2s ease-out;
}

 .sendbtn{
  width: 90px;
  height: 35px;
  box-sizing: border-box;
  font-size: 16px;
  color: #303030;
  background-color: #e0e0e0;
  border: 3px solid #7EC498;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  font-weight: normal;
 }

 .sendbtn:hover{
  background-color: #7EC498;
  transition: all 0.3s ease-in-out;
 }