/* Introduction */

blockquote {
  margin-top: 30px;
  margin-bottom: 70px;
  font-size: 1rem;
  width: 100%;
}

.hr1 {
  background-color: #7EC498;
  height: 3px;
  border: none;
  padding: 0;
  width: 82%;
  justify-content: right;
}

section .introduction {
  margin: 127px 0 200px;
}

section.introduction .container,
section.topics .container {
  max-width: 1150px;
  margin: auto;
  display: flex;
}

section.introduction .introduction-img {
  width: 67%;
}

section.introduction img {
  width: 130%;
  margin-top: 100px;
}

section.introduction .introduction-text {
  text-align: right;
}

section.introduction .introduction-text h1 {
  font-size: 3.5rem;
  padding: 0px 0px 0px 145px;
  margin-top: 100px;
  font-weight: bold;
  line-height: 1.6;
}

section.introduction .btn {
  padding: 10px 50px;
  font-size: 1.2rem;
  color: #303030;
  background: none;
  border: 2px solid #7EC498;
  outline: transparent;
  transition: all 0.3s ease-out;
}

section.introduction .btn:hover {
  background-color: #7EC498;
  transition: all 0.3s ease-in-out;
}

/* Topics */

section.topics .container {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  max-width: 1150px;
  margin-top: 127px;
}

section.topics .seeds-container,
section.topics .fert-container,
section.topics .tools-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  width: 1150px;
  height: 250px;
  background-color: #7EC498;
  color: #303030;
  margin-top: 100px;
}

section.topics .fert-container {
  background-color: #303030;
  color: #e0e0e0;
}

section.topics .fert-text {
  text-align: right;
  align-self: center;
}

section.topics h1 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
}

section.topics .title-style {
  border: 2px solid #303030;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

section.topics .fert-text .title-style {
  border: 2px solid #e0e0e0;
}

section.topics .seeds-img {
  width: 120px;
}

section.topics .fert-img {
  width: 140px;
}

section.topics .tools-img {
  width: 290px;
}

section.topics p {
  margin: 20px 0;
}

section.topics .know-more {
  font-weight: 450;
  text-decoration: underline;
  transition: all 0.3s ease-out;
  color: #303030;
}

section.topics .fert-text .know-more {
  transition: all 0.3s ease-out;
  color: #e0e0e0;
}

section.topics .know-more:hover {
  color: #e0e0e0;
  transition: all 0.3s ease-in-out;
}

section.topics .fert-text .know-more:hover {
  color: #7EC498;
  transition: all 0.3s ease-in-out;
}

/* Receive news */

section.receive-news {
  margin: 100px 0 200px;
}

section.receive-news .container {
  max-width: 1150px;
  margin: auto;
  display: flex;
}

section.receive-news .rcvnews-img {
  width: 500px;
}

section.receive-news .hr2 {
  background-color: #303030;
  height: 4px;
  border: none;
  padding: 0;
  width: 45%;
  margin-left: 55%;
  margin-bottom: 8%;
}

section.receive-news .rcvnews-text {
  text-align: right;
}

section.receive-news .rcvnews-text h1 {
  font-size: 3rem;
  word-spacing: 4px;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
}

section.receive-news .rcvnews-text p {
  margin: 20px 0;
}

section.receive-news .send-mail {
  display: flex;
  text-align: right;
  flex-flow: row;
  place-content: flex-end;
}

section.receive-news .sendmail-box {
  position: relative;
  width: 170px;
  box-sizing: border-box;
  border: 2px solid #303030;
  font-size: 15px;
  color: #303030;
  padding: 8px 32px 8px 12px;
  height: 35px;
  outline: #e0e0e0;
  background-color: transparent;
  transition: all 0.3s ease-in;
}

section.receive-news .sendmail-box:focus {
  transition: all 0.3s ease-out;
	width: 200px;
	padding: 0;
}

section.receive-news .sendbtn {
  width: 110px;
  padding: 6px 0;
  font-size: 20px;
  color: #e0e0e0;
  background-color: #303030;
  border: none;
  outline: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

section.receive-news .sendbtn:hover {
  background-color: #7EC498;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 540px) {

  section.introduction .container,
  section.topics .container,
  footer .container {
    max-width: 360px;
  }

  section.introduction img {
    display: none;
  }

  section.introduction .introduction-img {
    width: 0;
    display: none;
  }

  section.introduction .introduction-text {
    text-align: left;
  }

  section.introduction .introduction-text h1 {
    padding: 0;
  }

  section.topics .seeds-container,
  section.topics .fert-container,
  section.topics .tools-container {
    padding: 30px;
    width: 360px;
    height: 270px;
    margin-top: 50px;
  }

  section.topics h1 {
    font-size: 25px;
  }

  section.topics .seeds-img,
  section.topics .fert-img {
    width: 90px;
  }

  section.topics .tools-img {
    width: 100px;
  }

  section.receive-news .container {
    max-width: 360px;
    flex-direction: column-reverse;
  }

  section.receive-news .rcvnews-text {
    text-align: left;
  }

  section.receive-news .send-mail {
    place-content: flex-start;
  }

  section.receive-news .rcvnews-img {
    margin-top: 60px;
    width: 330px;
  }

  section.receive-news {
    margin-bottom: 60px;
  }
}