footer {
  background-color: #303030;
  color: #e0e0e0;
}

footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  margin: auto;
  padding: 50px 0;
}

footer .container h4 {
  margin-bottom: 16%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
}

footer .container h3 {
  margin-bottom: 10%;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: underline;
}

footer .container li {
  margin-bottom: 10%;
  list-style: none;
}

footer .container li a {
  color: #e0e0e0;
  font-size: 15px;
  transition: all 0.2s ease-out;
}

footer .container li a:hover {
  color: #9ceeba;
  transition: all 0.3s ease-out;
}

footer .container i {
  font-size: 20px;
  color: #e0e0e0;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  transition: all 0.2s ease-out;
}

footer .container i:hover {
  color: #7EC498;
  transition: all 0.3s ease-out;
}

/* Made by */

.made-by-container .made-by {
  color: #e0e0e0;
  font-size: 0.7rem;
  background-color: #303030;
  color: #e0e0e0;
  text-align: center;
  padding: 10px;
}

.made-by-container .made-by a {
  color: #e0e0e0;
  text-decoration: none;
  font-weight: bold;
}

.made-by-container .made-by .fa {
  color: #7EC498;
  margin: 0 9px 0 5px;
  font-size: 10px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@media (max-width: 540px) {
  footer .container {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    padding: 50px 0;
  }

  footer .container li {
    margin-bottom: 15px;
  }
}